.wrapper {
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.inputArea {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.translationArea {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
