.item {
  background-color: #fff;
  width: 215px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: 'normal';
  text-overflow: ellipsis;
  box-shadow:
    rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  border-radius: 4px;
}

.item > img {
  width: 100%;
  height: 80px;
  object-fit: cover;
}

.inner {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 100%;
}

.item .span {
  font-size: 14px;
  font-family: sohne, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.title {
  font-size: 1rem;
  white-space: wrap;
  overflow: hidden;
}

.text {
  font-size: 0.75rem;
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 80px;
}

.text > * {
  background: #fff;
  -webkit-box-orient: vertical;
}

.price {
  background: #fff;
  font-size: 0.75rem;
  color: #238f76;
}

.name {
  color: var(--color-secondary);
  font-size: 0.75rem;
}
