* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #363427;
  resize: none;
  outline: none;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* CSS変数 */
:root {
  --color-primary: #595959;
  --color-secondary: #777777;
  --color-background: #f1f6f8;
  --color-button-primary: #238f76;
  --color-border-primary: #dbdada;
  --font-primary: 'Helvetica Neue';
}
