.link {
  text-decoration: none;
  color: var(--color-primary);
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 3px;
  font-family: sans-serif;
  transition: all 0.2s ease;
}

.has-icon::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  aspect-ratio: 1;
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
}

.is-pen::before {
  mask-image: url('../../../../public/assets/icon/pen.svg');
  background-color: var(--color-primary);
}

.is-profile {
  color: #363427;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px 0;
}

.link.is-profile:hover {
  background: #ececec;
}
