.button {
  font-size: 14px;
  height: 30px;
  padding: 0 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  gap: 5px;
}

.button.is-auth {
  font-weight: 600;
  color: #fff;
  background-color: #01bfbd;
  border-radius: 5px;
}

.button.is-accept {
  height: 30px;
  background-color: #01bfbd;
  color: #fff;
  border-radius: 5px;
  padding: 0 20px;
  &:hover {
    background-color: rgb(113, 187, 185);
  }
}

.button.is-cancel {
  height: 30px;
  padding: 0 20px;
  color: #01bfbd;
  background-color: #fff;
  border: solid 1px #01bfbd;
  border-radius: 5px;
}

.button.is-auth:hover {
  background-color: rgb(113, 187, 185);
}

.button.is-cancel:hover {
  color: rgb(113, 187, 185);
  background-color: #fff;
  border: solid 1px rgb(113, 187, 185);
  border-radius: 5px;
}
