.button {
  font-size: 14px;
  height: 30px;
  padding: 0 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  gap: 5px;
  &.is-large {
    height: 60px;
  }
}

.button.is-auth {
  font-weight: 600;
  color: #fff;
  background-color: #363427;
  border-radius: 5px;
}

.button.is-accept {
  height: 30px;
  background-color: #363427;
  color: #fff;
  border-radius: 5px;
  padding: 0 20px;
  &:hover {
    background-color: #363427;
  }
}

.button.is-cancel {
  height: 30px;
  padding: 0 20px;
  color: #fff;
  background-color: #363427;
  border-radius: 5px;
}

.button.is-auth:hover {
  background-color: #363427;
}
