.header {
  width: 100vw;
  height: 60px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
}

.inner {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #fff;
}
