.header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(227, 227, 227);
}

.post {
  background-color: aqua;
  background-image: url("../../../../public/assets/icon/post.svg");
}
