.textarea {
  width: 700px;
  border: 2px solid #36342769;
}

.textarea.is-small {
  height: 60px;
  font-size: 30px;
}

.textarea.is-large {
  height: 200px;
  font-size: 20px;
}

.textarea.is-small::placeholder {
  font-size: 30px;
  color: #36342769;
}

.textarea.is-large::placeholder {
  font-size: 20px;
  color: #36342769;
}
