.textarea {
  width: 100%;
  border: none;
  color: var(--color-primary);
  border-left: 2px solid var(--color-border-primary);
  padding-left: 20px;
  field-sizing: content;
}

.textarea.is-small {
  font-size: 2rem;
}

.textarea.is-small::placeholder {
  font-size: 2rem;
  font-weight: 800;
  vertical-align: center;
}
